@font-face {
  font-family: 'Kumbh Sans';
	src: url('font/KumbhSans-Bold.ttf') format('truetype');
	weight: bold;
}

@font-face {
  font-family: 'Kumbh Sans';
	src: url('font/KumbhSans-Regular.ttf') format('truetype');
}

:root {
	--color-text: rgb(232, 232, 242);
	--color-header: white;
	--color-border: rgb(156, 156, 182);
	--color-bg-alt: rgb(29, 29, 41);
}

* {
  box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	font-size: 8px;
	min-width: 320px;
}

body {
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: var(--color-text);
	background: #334;
  text-rendering: optimizeLegibility; /* optimize font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.max1280 {
	max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	color: var(--color-text);
}


h1,
h2,
h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--color-header);
  font-weight: 800;
}

h4,
h5 {
  font-weight: 600;
}

h4,
h5,
h6,
p {
  margin-bottom: 2rem;
	margin-top: 2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 5rem;
  line-height: 6rem;
	letter-spacing: -0.15rem;
	margin-bottom: 4rem;
}

.page h1:first-child {
  margin-top: 6rem;
  border-bottom: 0;
  margin-bottom: 10rem;
}

@media(max-width: 1024px) {

  .page h1:first-child {
    margin-top: 2rem;
    border-bottom: 0;
    margin-bottom: 4rem;
  }
  
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -0.13rem;
}

h3 {
  font-size: 3rem;
  line-height: 4rem;
	letter-spacing: -0.08rem;
	font-weight: normal;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.08rem;
  font-weight: 600;
  color: var(--color-header);
}

h5 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

h6 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

p+h4,
p+h3,
ul+h3,
ul+h4,
ol+h3,
ol+h4 {
	margin-top: 4rem;
}

p+h2,
p+h1 {
  margin-top: 12rem;
  padding-bottom: 4rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid var(--color-border);
}

h2+h3,
h3+h4 {
  margin-top: 5rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.13rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: -0.08rem;
  }
  h3 {
    font-size: 2.75rem;
    line-height: 3.5rem;
    letter-spacing: -0.08rem;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

p,
li {
  font-size: 2rem;
	line-height: 3rem;
	color: var(--color-text)
}

ul {
  margin: 0 0 3rem 0;
}


code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.container {
	max-width: 1280px;
}

#sapper {
	height: 100%;
	min-height: 100%;
}

a {
	color: white;
}

button,
.button {
	padding: 2rem 3rem 1.6rem;
	background: rgb(119, 119, 191);
	color: white;
	text-decoration: none;
	font-size: 2rem;
	line-height: 2.75rem;
	display: inline-block;
	transition: all 0.1s;
	border-radius: 3px;
}

button:hover,
.button:hover {
	cursor: pointer;
	background:rgb(99, 99, 165);
}

button+h4,
.button+h4 {
	margin-top: 4rem;
}

hr {
  border-color: var(--color-border);
  margin: 4rem 0;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--color-border);
  border-bottom: 0;
  border-right: 0;
  width: 100%;
}

table td,
table th {
  margin: 0;
  padding: 1.4rem 2rem 1rem 2rem;
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

table th {
  background: white;
  color: #334;
}

.Post.manual blockquote {
  border: 1px solid rgba(255,255,255,0.25);
  margin: 0;
  border-left: 1rem solid rgba(255,255,255,0.25);
  padding: 2rem 2rem 2rem 3rem;
}

.Post.manual div+ul {
  padding-top: 2rem;
  clear: both;
}

.Post.manual blockquote p {
  margin: 0;
  font-size: 1.75rem;
}

.Post.manual blockquote p img {
  height: 3rem;
  vertical-align: middle;
}

.Post.manual blockquote p img:hover {
  height: 6rem;
}

.Post.manual p > img {
  float: left;
  vertical-align: top;
  padding: 0 2rem 0 0;
}

.Post.manual h1,
.Post.manual h2,
.Post.manual h4,
.Post.manual h3,
.Post.manual p+blockquote {
  clear: both !important
}

.Post.manual p+h3 {
  padding-top: 4rem;
}

.Post.manual p+h4 {
  padding-top: 2rem;
}

@media print {

  .Post p,
  .Post h1,
  .Post h2,
  .Post h3,
  .Post h4,
  .Post blockquote
  .Post img {
    page-break-inside: avoid!important;
    break-inside:avoid !important;
  }

  header {
    display: none !important;
  }
 
  html {
    font-size: 10px !important;
  }

  p,
  ul li {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
    color: black !important;
  }

  .Post.manual h1,
  .Post.manual h2 {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
    margin: 0 0 2rem 0 !important;
  }

  .Post.manual h2 {
    padding-bottom: 1rem !important;
  }

  .Post.manual h3 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    margin: 0 0 1rem 0 !important;
  }

  .Post.manual h4 {
    font-size: 1.25rem !important;
    font-weight: bold !important;
    line-height: 1.75rem !important;
    margin: 0 0 1rem 0 !important;
  }

  .Post.manual aside {
    display: none !important;
  }

  .Post.manual blockquote {
    border: 1px solid rgba(0,0,0,0.25);
    margin: 0;
    border-left: 1rem solid rgba(0,0,0,0.25);
    padding: 2rem 2rem 2rem 3rem;
  }

  .Post.manual blockquote +h3,
  .Post.manual blockquote +h2 {
    margin-top: 3rem !important;
  }
}